#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.img:hover {
  filter: drop-shadow(0 0 2em #4d2602aa);
}
.img.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
